<a href="https://colab.research.google.com/github/AD9N/clima-DL/blob/main/climaPredict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git version
!git config --global user.email “jose.avalos9040@alumnos.udg.mx”
!git config --global user.name “AD9N”
!git config --global user.email “agustin.villarreal7473@alumnos.udg”
!git config --global user.name “agusvillarreal”
!git config --global user.email “josafat.zamora4940@alumnos.udg.mx”
!git config --global user.name “JosafatZM”

git version 2.17.1

In [2]:
import pandas as pd
url = 'https://github.com/AD9N/clima-DL/blob/main/seattleWeather_1948-2017.csv?raw=true'
clima = pd.read_csv(url, index_col = "DATE")
clima

            PRCP  TMAX  TMIN   RAIN
DATE
1948-01-01  0.47    51    42   True
1948-01-02  0.59    45    36   True
1948-01-03  0.42    45    35   True
1948-01-04  0.31    45    34   True
1948-01-05  0.17    45    32   True
...          ...   ...   ...    ...
2017-12-10  0.00    49    34  False
2017-12-11  0.00    49    29  False
2017-12-12  0.00    46    32  False
2017-12-13  0.00    48    34  False
2017-12-14  0.00    50    36  False

[25551 rows x 4 columns]